.childrenContainer--drawer-mobile {
  flex-direction: column;
}
.childrenContainer--drawer-mobile :global(.vtex-store-components-3-x-logoLink) {
  position: absolute;
  top: 0;
  padding: 1rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-left: 0px !important;
}
.childrenContainer--drawer-mobile :global(.vtex-store-components-3-x-logoImage) {
  width: 8rem;
}

.drawer {
  z-index: 1002;
}

.closeIconContainer--drawer-mobile {
  flex-direction: row-reverse;
  margin-bottom: 2rem;
}

.drawer--drawer-mobile {
  background-color: #ffffff;
}

.overlay--drawer-mobile {
  background-color: #000000;
  z-index: 1001;
}

.closeIconContainer--drawer-mobile .closeIconButton--drawer-mobile {
  z-index: 1;
}

.childrenContainer--drawer-mobile :global(.vtex-store-drawer-0-x-closeIconButton) {
  visibility: hidden;
}
.childrenContainer--drawer-mobile :global(.vtex-store-drawer-0-x-closeIconButton)::before {
  content: url("assets/icons/icono-pico-mobile.png");
  width: 20px;
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1;
  visibility: visible;
}

.menuIcon--drawer-mobile {
  height: auto;
  width: 14px;
  color: #193D6F;
}

.openIconContainer--drawer-mobile {
  display: flex;
  align-items: center;
  justify-content: center;
}
