.productHighlightText {
  color: #298d7a;
  /* font-family: "SpartanSemiBold"; */
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
}
.productHighlightWrapper--collection {
  display: flex;
}

@media only screen and (max-width: 640px) {
  .productHighlightText {
    font-size: 11px;
  }
}