.reviews-main-container{
  font-family: 'Lora';
}
.container  :global(.vtex-reviews-and-ratings-3-x-container){
  max-width: 1440px;
  margin-bottom: 88px;
}

.inlineContainer {
  margin-left: 0rem;
}

.star--filled {
  color: #7199A0 !important;
}

.star--empty {
  color: #7199A0 !important;
}

.graphBar{
  background: #7199A0 !important;
}

