.savings--discount {
  justify-content: left !important;
}

:global(.vtex-flex-layout-0-x-flexRowContent--product-prices) {
  margin: 1.5rem 0;
}

.sellingPriceValue--summary, .listPriceValue--summary {
  /* font-size: 1.25rem; */
  font-size: 17px;
  font-weight: 500;
  color: #2e2e2e;
  /* font-family: Lora; */
}

:global(.vtex-flex-layout-0-x-flexRowContent--product-main) .sellingPriceValue--summary, :global(.vtex-flex-layout-0-x-flexRowContent--product-main) .listPriceValue--summary {
  font-size: 32px;
  font-weight: 600;
  color: #2e2e2e;
}

:global(.vtex-flex-layout-0-x-flexRowContent--product-main) .sellingPrice--summary--hasListPrice {
  margin-left: -1rem;
}

@media only screen and (max-width: 600px) {
  .sellingPriceValue--summary, .listPriceValue--summary {
    font-size: 13px;
  }
  :global(.vtex-flex-layout-0-x-flexRowContent--product-main) .sellingPriceValue--summary, :global(.vtex-flex-layout-0-x-flexRowContent--product-main) .listPriceValue--summary {
    font-size: 28px;
  }
  :global(.vtex-flex-layout-0-x-flexRowContent--product-main) .sellingPrice--summary--hasListPrice {
    margin-left: 0.5rem;
  }
}

@media only screen and (max-width: 600px) {
  :global(.vtex-flex-layout-0-x-flexRowContent--product-prices) {
    margin: 1rem 0;
  }
}
:global(.vtex-flex-layout-0-x-flexRowContent--product-prices) .sellingPrice {
  padding: 0;
}
:global(.vtex-flex-layout-0-x-flexRowContent--product-prices) .sellingPrice .currencyContainer {
  color: black;
}
@media only screen and (max-width: 600px) {
  :global(.vtex-flex-layout-0-x-flexRowContent--product-prices) .sellingPrice .currencyContainer {
    font-size: 17px;
  }
}
:global(.vtex-flex-layout-0-x-flexRowContent--product-prices) .listPrice {
  padding: 0;
}
:global(.vtex-flex-layout-0-x-flexRowContent--product-prices) .listPrice .currencyContainer {
  color: black;
}
@media only screen and (max-width: 600px) {
  :global(.vtex-flex-layout-0-x-flexRowContent--product-prices) .listPrice .currencyContainer {
    font-size: 17px;
  }
}
:global(.vtex-flex-layout-0-x-flexRowContent--product-prices) .sellingPrice--hasListPrice {
  color: red;
}
:global(.vtex-flex-layout-0-x-flexRowContent--product-prices) .sellingPrice--hasListPrice .currencyContainer {
  color: red;
  padding-left: 10px;
}

.installments {
  color: #727273;
  margin-bottom: 1rem;
}


.savings {
  /* padding: 2px 10px 0 0; */
  color: #ff0000;
  font-size: 12px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}
@media only screen and (max-width: 640px) {
  .savings {
    font-size: 11px;
  }
}

.savings--discount {
  justify-content: left !important;
}

.sellingPrice--summary--hasListPrice .currencyCode--summary, .sellingPrice--summary--hasListPrice .currencyInteger--summary, .sellingPrice--summary--hasListPrice .currencyDecimal--summary, .sellingPrice--summary--hasListPrice .currencyFraction--summary, .sellingPrice--summary--hasListPrice .currencyGroup--summary {
  color: red;
}
.sellingPrice--summary--hasListPrice .currencyCode--summary {
  padding-left: 4px;
}

.sellingPrice--summary--hasListPrice {
  padding-top: 0px;
}
.sellingPriceValue::after {
  content: 'MXN';
  color: #3A3A3A;
  display: inline-block;
  margin-left: 4px;
  font-family: Lora;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}

@media only screen and (max-width: 600px) {
  .sellingPriceValue::after {
    font-size: 8px;
  }
}