.listContainer--tab-propiedades {
    justify-content: start;
    border-bottom: 2px solid #D9D6D3;
    column-gap: 40px;
    padding-top: 1em;
}
.listItem--propiedades-texto {
    margin: 0;
    padding: 0;

}

.listItem--propiedades-texto :global(.vtex-button__label) {
   padding-bottom: 5px !important;
   padding-left: 0 ;
   padding-right: 0 ;
   margin-bottom: 24px;
}
.listItem--propiedades-texto :global(.vtex-button) {
    background-color: transparent;
    color: #929292;
    border: none;
    text-transform: capitalize;
    font-family: 'Lora';
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 32px;
}

.listItem--propiedades-texto :global(.vtex-button)::after {
    content: "";
    display: block;
    height: 5px;
    width: 100%;
    background-color: white;
}

.listItemActive--propiedades-texto :global(.vtex-button)::after {
    content: "";
    display: block;
    height: 5px;
    width: 100%;
    background-color: #7199A0;
    
}

.listContainer--tab-menu {
    display: none;
}

.listContainer--tab-menu {
    display: none;
}

.container--tab-menu .contentContainer {
    padding-bottom: 1em;

}

@media screen and (max-width: 640px) {
 .listContainer--tab-propiedades {
        /*justify-content: space-between;*/
        column-gap: 10px;
    }
    .listItem--propiedades-texto :global(.vtex-button) {
        
        font-size: 14px;
    }

    .listItem--propiedades-texto :global(.vtex-button) {
        font-size: 16px;
    }
}
