.sliderArrows--carousel {
  top: 50%;
}


.sliderLayoutContainer--pdp-shelf {
  padding-left: 0  !important;
  padding-right: 0 !important;
}

.sliderLayoutContainer {
  justify-content: center;
}

.sliderLayoutContainer--carousel {
  /*background-color: #F0F0F0;
  min-height: 450px;
  */
  max-width: 1440px;
  display: block;
  margin: 0 auto;
  margin-bottom: 88px;
}
.sliderLayoutContainer--pre-header-top {
  margin-bottom: 0px;
}

.sliderTrackContainer {
  max-width: 100%;
}

.paginationDotsContainer {
  margin-top: .5rem;
 /* margin-bottom: .5rem;*/
}

.layoutContainer--shelf {
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 96rem;
  min-height: 550px;
}

.slide--shelf {
  margin-bottom: 25px;
  padding-left: .5rem;
  padding-right: .5rem;
  min-height: 550px;
}
.slideChildrenContainer--pre-header-top {
  background-color: #fcb630;
}

@media only screen and (max-width: 600px) {
  .sliderTrack--pre-header-top {
    height: 39px;
  }
}
