.drawerContent :global(.vtex-menu-2-x-styledLinkContent--header-item){
  color:  #3A3A3A;
    text-align: center;
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.childrenContainer {
  padding: 24px 16px;

}

.closeIconContainer {
  justify-content: end;
}




