.listPrice {
  color: #727273;
  margin-bottom: .25rem;
  font-size: 1rem;
  font-family: 'Lora';
}

.sellingPrice {
  color: #3f3f40;
  font-family: 'Lora';
  font-size: 32px;
  font-style: bold;
}

.sellingPriceValue {
  color: #3A3A3A;
font-family: Lora;
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: 40px;
}

.installments {
  color: #727273;
  margin-bottom: 1rem;
}

.savings {
  font-weight: 500;
  color: #79B03A;
}
.sellingPriceValue::after {
  content: 'MXN';
  color: #3A3A3A;
  display: inline-block;
  margin-left: 8px;
  font-family: Lora;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;

}



.sellingPriceValue--summary {
  font-size: 1.25rem;
  font-weight: 600;
  color: #2E2E2E;
}

.savings--summary {
  background: #8BC34A;
  border-radius: 1000px;
  align-items: center;
  display: flex;

  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-size: 0.875rem;
  font-weight: 600;
  vertical-align: baseline;
  color: #FFFFFF;
}

.savings-discount--summary {
  font-size: 0.875rem;
  font-weight: 600;
  vertical-align: baseline;
  color: #FFFFFF;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.listPrice--summary {
  margin-bottom: 0.25rem;
  font-size: .875rem;
}

.installments--summary {
  margin-bottom: 2rem;
  font-size: 0.875rem;
}

.savings--summaryPercentage {
  background: #0f3e99;
  border-radius: 1000px;
  align-items: center;
  display: flex;
}

.savingsPercentage--summaryPercentage {
  font-size: 0.875rem;
  font-weight: 600;
  vertical-align: baseline;
  color: #FFFFFF;
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
}
