.container :global(.vtex-button__label){
  padding: 0 !important;
}

.container :global(.vtex-button):hover {
  background-color: unset;
}



.label,.profile {
  padding: 0 !important;
  display: none;
}
