.footerLayout--footer-desktop {
  background-color: #7199A0;
}



.row--menu-row {
  padding-right: 24px;
}

.row--menu-row .rowContainer {
  align-items: flex-start;
}

.row--payment-methods {
  padding-top: 16px;
}


