.submenuWrapper--isOpen{
  margin-top: 15px;
}
.styledLinkContent--menu-titulo {
  color:  #FFF;
    font-family: 'Lora';
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    /* 171.429% */
    letter-spacing: 0.56px;
    cursor: text;
}

.styledLinkContent--menu-item,
.styledLinkContent--menu-item-email,
.styledLinkContent--menu-item-telefono {
  color: #FFF;
    font-family: 'Quicksand';
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

.styledLinkContainer--menu-titulo,
.styledLinkContainer--menu-item,
.styledLinkContainer--menu-item-email,
.styledLinkContainer--menu-item-telefono {
  margin: 0;
  padding: 0;
}

.menuContainer--menu-desktop {
  gap: 16px;
}


.menuItem--menu-item,
.menuItem--menu-item-email,
.menuItem--menu-item-telefono {
  display: flex;
  gap: 8px;
}

.styledLinkIcon--menu-item,
.styledLinkIcon--menu-item-email,
.styledLinkIcon--menu-item-telefono {
  margin: 0;

}


.styledLinkContainer--menu-item-email::before,
.styledLinkContainer--menu-item-telefono::before {
  content: '';
  width: 16px;
  height: 16px;
  display: block;
  background-repeat: no-repeat;
}

.styledLinkContainer--menu-item-email::before {
  background-image: url('data:image/svg+xml,<svg style="color: white" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16"><path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z" fill="white"></path></svg>');
}

.styledLinkContainer--menu-item-telefono::before {
  background-image: url('data:image/svg+xml,<svg style="color: white" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone-fill" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z" fill="white"></path></svg>');
}


.styledLinkContainer--menu-item-email,
.styledLinkContainer--menu-item-telefono {
  display: flex;
  gap: 8px;
}

.styledLinkContent--menu-item-email,
.styledLinkContent--menu-item-telefono {
  line-height: 16px;
}


.styledLinkContent--header-item {
  color:  #3A3A3A;
    text-align: center;
    font-family: 'DM Sans';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.menuItem--header-item--isOpen .styledLinkContent {
  color:  #7199A0;
}

.styledLinkContainer--header-item {
  margin: 0;
  padding: 0;
}

.menuContainer--header-menu {
  display: flex;
  gap: 56px;
}


@media screen and (max-width: 640px) {


  .menuContainerNav {
      width: 100%;
    }
  .menuContainerNav--accordion-mobile-info-pdp {
      width: 100%;
      padding-top: 34px;
    }
  .menuContainer {
    gap: 24px;
  }
  .styledLinkContainer--header-item {
    margin: 0 !important;
  }
  .menuItem--header-item {
    display: flex;
    justify-content: space-between;
    align-items: center;

  }
  .menuItem--header-item::after {
      content: '';
      background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M9.2947 17.2946C8.90543 16.9053 8.90509 16.2743 9.29393 15.8846L13.1701 12L9.29393 8.11538C8.90509 7.72569 8.90543 7.09466 9.2947 6.70538C9.68428 6.31581 10.3159 6.31581 10.7055 6.70538L15.293 11.2929C15.6835 11.6834 15.6835 12.3166 15.293 12.7071L10.7055 17.2946C10.3159 17.6842 9.68428 17.6842 9.2947 17.2946Z" fill="%233A3A3A"/></svg>');
      width: 24px;
      height: 24px;
      display: block;
      /*transform: rotate(-90deg);*/
    }

  .styledLinkContainer {
    margin: 8px 0;
    padding: 0;
  }
  
  .styledLinkContent {
    color:  #FFF;
      text-align: center;
      font-family: 'Lora';
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: 24px;
      /* 171.429% */
      letter-spacing: 0.56px;
  }
  .styledLinkContent--accordion-mobile-info-pdp {
      color:  #929292;
      text-align: center;
      font-family: 'Lora';
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: 24px;
       letter-spacing: 0.56px; 
  }
  .submenuAccordion {
    padding-left: 0;
  }

  .styledLink--menu-item .styledLinkContent {
    font-family: 'Quicksand';
  }

  .menuItem {
    border-bottom: 1px solid white;
  }
  .menuItem--accordion-mobile-info-pdp {
    border-bottom: 1px solid #929292;
  }

  .submenuAccordion .menuItem {
    border: none !important;
  }

  .submenuAccordion {
    padding: 16px 0;
  }

  .accordionIcon {
    color: white;
    font-size: 24px;
    margin-left: 0;
    margin-right: 7px;
  }

  .accordionIcon--accordion-mobile-info-pdp {
    color: #929292;
    font-size: 24px;
    margin-left: 0;
    margin-right: 7px;
  }
}


/* INICIO SHELF FAQ */

:global(.vtex-flex-layout-0-x-flexRowContent--shelf-faq) {
  padding: 2rem 4rem 4rem;
}

.styledLinkContent--s5-mi-pregunta {
  color: #3A3A3A;
  font-family: 'DM Sans';
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  line-height: 3;
  white-space: initial;
}

.styledLinkContent--s5-mi-respuesta {
  color: #3A3A3A;
  font-family: 'DM Sans';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  white-space: initial;
}

.menuItem--s5-mi-pregunta--isOpen:hover .styledLinkContent--s5-mi-pregunta {
  text-decoration: underline;
  text-decoration-color: #7199A0;
  transition: all 350ms ease-in-out;
}

.menuItem--s5-mi-pregunta--isOpen .styledLinkContent--s5-mi-pregunta {
  text-decoration: underline;
  text-decoration-color: #7199A0;
  transition: all 350ms ease-in-out;
}

:global(.vtex-rich-text-0-x-container--shelf-faq-titulo) {
  width: 100%;
  border-bottom: 3px solid #7199A0;
  font-family: 'DM Sans';
  font-size: 2rem;
  margin-bottom: 4rem;
  padding: 0 0 1rem;
  color: black;
  font-weight: 700;
  text-align: center;
}
.accordionIcon--s5-mi-pregunta--isOpen {
  display: none;
}

@media screen and (max-width: 640px) {
  :global(.vtex-flex-layout-0-x-flexRowContent--shelf-faq) {
    padding: 0rem 1rem 3rem;
  }
  .styledLinkContent--s5-mi-pregunta {
    font-size: 21px;
    line-height: 1;
    text-align: left;
    white-space: initial;
  }
  .styledLinkContent--s5-mi-respuesta {
    font-size: 15px;
    font-style: normal;
    text-align: left;
  }
  .accordionIcon--s5-mi-pregunta {
    color: #3A3A3A;
    padding-left: 5px;
  }
  :global(.vtex-rich-text-0-x-container--shelf-faq-titulo) {
    margin-bottom: 2rem;
  }
}

/* FIN SHELF FAQ */