.submenuWrapper--isOpen{
  margin-top: 15px;
}


/* INICIO SHELF FAQ */

:global(.vtex-flex-layout-0-x-flexRowContent--shelf-faq) {
  padding: 2rem 4rem 4rem;
}

.styledLinkContent--s5-mi-pregunta {
  color: #3A3A3A;
  font-family: 'DM Sans';
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  line-height: 3;
  white-space: initial;
}

.styledLinkContent--s5-mi-respuesta {
  color: #3A3A3A;
  font-family: 'DM Sans';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  white-space: initial;
}

.menuItem--s5-mi-pregunta--isOpen:hover .styledLinkContent--s5-mi-pregunta {
  text-decoration: underline;
  text-decoration-color: #7199A0;
  transition: all 350ms ease-in-out;
}

.menuItem--s5-mi-pregunta--isOpen .styledLinkContent--s5-mi-pregunta {
  text-decoration: underline;
  text-decoration-color: #7199A0;
  transition: all 350ms ease-in-out;
}

:global(.vtex-rich-text-0-x-container--shelf-faq-titulo) {
  width: 100%;
  border-bottom: 3px solid #7199A0;
  font-family: 'DM Sans';
  font-size: 2rem;
  margin-bottom: 4rem;
  padding: 0 0 1rem;
  color: black;
  font-weight: 700;
  text-align: center;
}
.accordionIcon--s5-mi-pregunta--isOpen {
  display: none;
}

@media screen and (max-width: 640px) {
  :global(.vtex-flex-layout-0-x-flexRowContent--shelf-faq) {
    padding: 0rem 1rem 3rem;
  }
  .styledLinkContent--s5-mi-pregunta {
    font-size: 21px;
    line-height: 1;
    text-align: left;
    white-space: initial;
  }
  .styledLinkContent--s5-mi-respuesta {
    font-size: 15px;
    font-style: normal;
    text-align: left;
  }
  .accordionIcon--s5-mi-pregunta {
    color: #3A3A3A;
    padding-left: 5px;
  }
  :global(.vtex-rich-text-0-x-container--shelf-faq-titulo) {
    margin-bottom: 2rem;
  }
}

/* FIN SHELF FAQ */

/* INICIO MEENU */

@media only screen and (max-width: 600px) {
  .menuContainerNav {
    width: 100%;
    padding: 0 1.5rem;
  }
}

@media only screen and (max-width: 600px) {
  .menuContainerNav--header-submenu-column {
    width: 100%;
    padding: 0rem;
  }
}

.styledLinkContainer--header-menu-title {
  padding: 0;
}
@media only screen and (max-width: 600px) {
  .styledLinkContainer--header-menu-title {
    margin: 0;
  }
}

.styledLinkContainer--header-submenu-ver-todo {
  display: none;
}

.styledLinkContainer--header-menu-title .styledLinkContent--header-menu-title {
  color: #3a3a3a;
  text-align: center;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  line-height: 25px;
  padding: 0 2px;
}

.menuItem--header-menu-title--isOpen .styledLinkContent--header-menu-title {
  color: black !important;
  font-weight: 600;
}

.styledLinkContainer--header-menu-title .styledLink--header-menu-title {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 600px) {
  .styledLinkContainer--header-menu-title .styledLink--header-menu-title {
    justify-content: flex-start;
    font-family: "DM Sans";
    pointer-events: none;
  }
}
/* 
.styledLinkContainer--header-menu-title .styledLinkContent--header-menu-title:hover {
  font-family: "DM Sans";
  text-decoration: unset;
  border-bottom: unset;
}

.styledLinkContainer--header-menu-title .styledLink--header-menu-title:hover {
  font-family: "DM Sans";
  text-decoration: unset;
  border-bottom: unset;
} */

.menuContainer--categories-menu {
  justify-content: space-between;
  /* padding: 0.75rem 2rem; */
  background-color: white;
}

.submenuWrapper--header-submenu-container {
  background-color: white;
  padding: 55px 80px 70px;
  margin-top: 30px;
  border-bottom: 1px solid #e6e6e6;
  height: fit-content;
}
@media only screen and (max-width: 600px) {
  .submenuWrapper--header-submenu-container {
    padding: 0;
  }
}

.submenuWrapper--header-submenu-productos, .submenuWrapper--header-submenu-marcas {
  padding: 55px 80px 70px;
}
@media only screen and (max-width: 600px) {
  .submenuWrapper--header-submenu-productos, .submenuWrapper--header-submenu-marcas {
    padding: 0;
  }
}
.styledLinkContent--header-submenu-column {
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.submenuWrapper--header-submenu-container :global(.vtex-flex-layout-0-x-flexRow--header-submenu) {
  width: 100%;
}

.styledLinkContainer--header-menu-item {
  margin: 0;
  padding: 0;
}

.styledLink--header-menu-item {
  margin: 0;
  padding: 0.25rem 0;
  display: block;
}

.menuItem--header-menu-title {
  text-align: center;
  color: #474b4d;
  font-family: "DM Sans";
  font-size: 15px;
  padding: 0.75rem 0;
  width: 100%;
  z-index: 2;
}
.menuItem--header-menu-title--isOpen .styledLinkContent--header-menu-title {
  font-family: "DM Sans";
  text-decoration: unset;
  border-bottom: unset;
}
@media only screen and (max-width: 600px) {
  .menuItem--header-menu-title {
    padding: 0;
  }
}

.styledLinkContainer--header-submenu-title {
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
  border-bottom: none;
}

.flexColChild--submenu-pisos-1-rowcontent .styledLinkContainer--header-submenu-title {
  margin-bottom: 0px !important;
}

.styledLink--header-submenu-title {
  font-size: 1rem;
  color: #1D1D1B;
  font-family: "DM Sans";
  display: block;
  padding-bottom: 0.4rem;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 25px;
  text-align: left;
}

.styledLink--header-submenu-title:hover {
  color: #3f3f3f;
  font-weight: 600;
}

.styledLink--header-submenu-column:hover {
  color: #3f3f3f;
  font-weight: 600;
}

.styledLinkContainer--header-submenu-column {
  padding: 0.25rem 0;
  margin: 0;
}

.styledLink--header-submenu-column {
  font-size: 12px;
  margin-bottom: 22.5px;
  color: #3f3f3f;
  display: block;
}
@media only screen and (max-width: 600px) {
  .styledLink--header-submenu-column {
    margin-bottom: 0;
  }
}

.styledLink--header-submenu-column-fijo {
  font-size: 12px;
  margin-bottom: 22.5px;
  color: #000 !important;
  display: block;
}
@media only screen and (max-width: 600px) {
  .styledLink--header-submenu-column-fijo {
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 600px) {
  .submenuAccordion {
    padding: 2rem;
    padding-top: 1rem;
    flex-direction: column;
    font-family: "DM Sans";
    font-size: 12px;
  }

  .styledLink .styledLinkContent {
    justify-content: center;
    font-family: "DM Sans";
    padding: 1.5rem 0;
    justify-content: flex-start;
    border-bottom: 1px solid #F3F7F9;
  }

  .styledLinkContent--header-submenu-column-pisos {
    margin: 0rem !important;
    border: none !important;
  }

  .accordionIcon {
    position: relative;
    color: transparent;
  }

  .accordionIcon::after {
    color: #474b4d;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    /* margin-left: 0.255em; */
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
  }
}
@media only screen and (max-width: 600px) {
  .menuItem--header-submenu-title {
    display: none;
  }

  .styledLink .styledLinkContent--header-menu-title {
    font-family: "DM Sans";
  }

  .styledLinkContainer--header-submenu-ver-todo {
    display: initial;
  }
}
.menuItem--oportunidades-hotsale .styledLinkContent--oportunidades-hotsale {
  color: red !important;
}

:global(.vtex-rich-text-0-x-paragraph--oportunidades-hotsale-mobile) {
  color: red !important;
}

/* FIN MENU */