.formSubmitContainer :global(.vtex-button) {
  border-radius: 24px;
  background: #EDF2F3;
  border: none;
  min-height: unset;
  padding: 8px 48px;
  margin-top: 16px;
}

.formSubmitContainer :global(.vtex-button__label) {
  color:  #3A3A3A;
    text-align: center;
    font-family: 'Lora';
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    padding: 0;
    text-transform: capitalize;
    padding: 0 !important;
}

.emailInputContainer :global(.vtex-input-prefix__group){
  border: none;
  border-radius: 24px;
  height: unset;
}

.emailInputContainer :global(.vtex-styleguide-9-x-input) {
  color:  #3A3A3A;
    font-family: 'Quicksand';
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    padding: 16px;
    text-align: center;
}


@media screen and (max-width: 640px) {
  .formSubmitContainer :global(.vtex-button){
    margin: 16px auto 32px auto;
    display: block;
  }
}

