.quantitySelectorTitle {
    display: none;
  }
  .quantitySelectorStepper {
    margin-top: 16px;
    font-style: bold;
  }
  
  @media only screen and (max-width: 600px) {
    .quantitySelectorContainer {
      margin-top: 15px;
    }
  }