.flexRow--productSpecificationGroup:not(:first-child) {
  margin-top: 1.5rem;
}

.flexRow--productSpecificationGroupName {
  display:none;
}

.flexColChild--productSpecificationValue { padding-top: 32px;}
.flexRow--productSpecification:nth-child(even) {
  background-color: #f9f9f9;
}


.flexRow--imgsCalidadProductos {
  justify-content: center;
    column-gap: 7px;
}

@media screen and (max-width: 640px) {

  .flexColChild--productSpecificationValue { padding-top: 0px;}
}