.groupName {
  font-size: 1.25rem;
}


.specificationValue--last,
.specificationName {
  font-family: 'Quicksand';
  font-size: 16px;
  color:#3A3A3A;
  line-height: 24px;
font-style: normal;
font-weight: 400;
}

