.container--layout-option {
  margin-left: 0.3em;
}

.paragraph--layout-option {
  margin: 0;
}

.paragraph--summarySpecificationBullet {
  margin: 0;
  line-height: initial;
  font-size: 1.25rem;
  line-height: 1.15rem;
}

.paragraph--promotionalCardText-subtitle {
  text-align: center;
  font-size: 0.75rem;
}

.container--promotionalCardText {
  color: black;
  font-family: 'Lora';
}

.container--promotionalCardText-subtitle {
  color: black;
  font-family: 'Lora';
}

.paragraph--promotionalCardText {
  margin-top: 5px;
  margin-bottom: 0;
  letter-spacing: 0.1px;
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 0.1px;
  text-align: center;
}
@media only screen and (max-width: 600px) {
  .paragraph--promotionalCardText {
    margin-top: 2px;
  }
}

.paragraph--promotionalCardText-subtitle {
  margin-top: 0.2rem;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.1px;
}
