.flexRowContent--pdp-preciosPLP{
  display: flex;
  align-items: center;
  margin: 24px 0;
}
.flexRowContent--pdp-precios{
    display: flex;
    align-items: center;
    margin-bottom: 32px;
    margin-top: 24px;
}
.flexRow--orderByAndSwitcher {
  padding-right: 1.5em;
}

.flexRowContent--savingsSummaryListDesktop {
  justify-content: flex-start;
}

.flexCol--summaryRightListDesktop {
  justify-content: space-around;
}

.flexRow--buyNowButton :global(.vtex-button) {
  background: #eef3f7;
  border-color:#eef3f7;
  
  color: #0f3e99;
}

.flexRow--buyNowButton:hover :global(.vtex-button) {
  background: #dbe9fd;
  border-color:#dbe9fd;
}


.flexCol--summaryDetailsListMobile {
  justify-content: space-between;
}

.flexCol--summaryUpDetailsListMobile {
  margin-bottom: 0.25rem
}


@media screen and (max-width: 640px) {
  .flexRowContent--pdp-preciosPLP{
    display: flex;
    align-items: center;
    margin: 12px 0;
  }
}